:root {
	--border-primary-radius: 4px;
	--border-primary-width: 2px;
	--border-primary-color: #FFFFFF00;
	--border-primary-style: solid;
	--border-secondary-radius: 4px;
	--border-secondary-width: 2px;
	--border-secondary-color: #0057a8;
	--border-secondary-style: solid;
	--border-footer-radius: 0px;
	--border-footer-width: 1px 0px 0px 0px;
	--border-footer-color: #99C6FF;
	--border-footer-style: solid;
	--border-image-radius-small-radius: 12px;
	--border-image-radius-small-width: 0px;
	--border-image-radius-small-color: #000000;
	--border-image-radius-small-style: solid;
	--border-card-radius: 8px;
	--border-card-width: 2px;
	--border-card-color: #00000000;
	--border-card-style: solid;
	}