:root {
	--button-primary: #fc0;
	--button-primary-hover: #DAB21C;
	--button-secondary: #FFFFFF;
	--button-secondary-hover: #E8EEF6;
	--button-tertiary: #FFFFFF00;
	--button-tertiary-hover: #D2E4F5;
	--button-cta: var(--button-primary);
	--button-cta-hover: var(--button-primary-hover);
	--text-primary: #002147;
	--text-secondary: #fff;
	--text-tertiary: var(--text-primary);
	--general-color-1: #011F42;
	--general-color-2: #00397A;
	--general-color-3: #E8F4FE;
	--general-color-4: var(--button-primary);
	--general-color-5: #002D62;
	--general-color-6: #0057A8;
	--page-background-primary: #FFFFFF;
	}
