@source inline("{lg:,md:,}font-{roboto-serif,roboto-flex,default}");

@theme {
	--font-roboto-serif: var(--roboto-serif);
	--font-roboto-flex: var(--roboto-flex);
	--font-default: var(--default-font);
}