@source inline("{lg:,md:,}font-{roboto-serif,roboto-flex,tiempos,inter,default}");

@theme {
	--font-roboto-serif: var(--roboto-serif);
	--font-roboto-flex: var(--roboto-flex);
	--font-tiempos: var(--tiempos);
	--font-inter: var(--inter);
	--font-default: var(--default-font);
}